
<%#-------- image --------%>
<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80);">
  
<%#-------- header --------%>
  <div class="title">
    <h1>Bring change and green up your life</h1>
  </div>

  <div class="container-splash">
    <div class="row-splash">
      <div class="subtitle d-flex justify-content-center">
          <div class="explore bg-success"><h4>Explore</h4></div>
          <div class="add-new bg-success"><h4>Add new plant</h4></div>
      </div>
    </div>
  </div>
</div>

<%#-------- Search Button --------%>
<%= form_tag(plants_path, method: :get, class: 'form-inline') do %>
    <div class="form-group">
      <%= text_field_tag :query, "", placeholder: "looking for...", class: 'form-control' %>
    </div>
    <%= submit_tag "Search", class: 'btn btn-info' %>
  <% end %>

<%#-------- Table header --------%>
<div class="container-description">
  <div class="txt-container-description">
    Enjoy your homed filled with beautiful potted plant
  </div>
  
<%#-------- Table --------%>
  <div class="table-container">
    <div class="row">
      <div class="col">
        <h2>Lorem ipsum dolor sit amet</h2>
        <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
      </div>
      <div class="col">
        <h2>Lorem ipsum dolor sit amet</h2>
        <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Lorem ipsum dolor sit amet</h2>
        <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
      </div>
      <div class="col">
        <h2>Lorem ipsum dolor sit amet</h2>
        <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
      </div>
    </div>
  </div>
</div>

<div class="slogan d-flex justify-content-center">
  <h3>You are in good company</h3>
</div>

<div class="description">
<h3>Plantify is a renting plant service Velit aliquet sagittis id consectetur purus ut faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Suspendisse sed nisi lacus sed viverra tellus. Posuere urna nec tincidunt praesent semper. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Et ligula ullamcorper malesuada proin. A cras semper auctor neque vitae. Nibh sit amet commodo nulla facilisi nullam</h3>
</div>

<%#-------- cards --------%>
<div class="container-pics d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <h2>Pic1</h2>
    </div>
    <div class="col">
      <h2>Pic2</h2>
    </div>
    <div class="col">
      <h2>Pic3</h2>
    </div>
    <div class="col">
      <h2>Pic4</h2>
    </div>
  </div>
</div>

<%#-------- Footer --------%>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>company logo</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>socialmedia icons</h3>
    </div>
  </div>
</div>
