
<%#-------- image --------%>
<div class="home-banner" style="background-image: url(https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);">

                <%#-------- header --------%>
  <div class="headline">
    <div class="mb-3">
      <h1>Bring change and green up your life</h1>
    </div>
    <div class="subtitle d-flex justify-content-center">
        <div class="button button-green mr-3">
          <%= link_to "Explore", plants_path %>
        </div>
        <div class="button button-ghost">
          <%= link_to "Add new plant", new_plant_path %>
        </div>
    </div>
  </div>
</div>


                <%#-------- Table header --------%>
<div class="container-master">
                  <%#-------- Search Button --------%>

  <div class="container-description">
    <div class="container-txt">
      <h2>Enjoy your homed filled with <br>beautiful potted plant</h2>
    </div>

                <%#-------- Table --------%>
    <div class="container-table">
      <div class="row">
        <div class="col mt-3 mb-3 pr-4">
          <h4>Find your perfect room mate</h4>
          <p>Find easily your perfect plant via de plant search or browse all the available plants in the explorer.</p>
        </div>
        <div class="col mt-3 mb-3 pr-4">
          <h4>Request a move-in period</h4>
          <p>Select the period from where you want to give the plant a nice home to stay.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col mt-3 mb-3 pr-4">
          <h4>Get custom advise</h4>
          <p>Because we want that you two enjoy the stay together the fullest, we will give you custom treatment advises.</p>
        </div>
        <div class="col mt-3 mb-3 pr-4">
          <h4>Enjoy a home filled with green love</h4>
          <p>The only thing that is left now is to enjoy spending time together with your new room mate and experience a home filled with green love.</p>
        </div>
      </div>
    </div>

                <%#-------- Table header --------%>
<div class="container-description">

  <div class="container-slogan text-center">
      <h2>You are in good company</h2>
  </div>

  <div class="description text-center">
      <h3>Plants make your home greener and more cozy. So why not having more of them in your house? Plantify has the perfect variaty of potted plants based on your personal requirements. Let us introduce you to some of our favorite room mates for your house.</h3>
  </div>

                <%#-------- cards --------%>
  <div class="d-flex justify-content-between">
    <% @plants.each do |plant| %>
      <div class="image-vert" style="background-image: url('<%= cl_image_path plant.photos.first.key, crop: :fill %>' )">
      </div>
    <% end %>
  </div>


</div>

</div>
</div>
<%= render 'shared/footer' %>
