.index-banner {
  background-position: center;
  background-size: cover;
  height: 30vh;
  text-align: center;
  width: 100%;
  margin: 0 !important;
  color: white;
}

.show-banner {
  background-size: cover;
  height: 30vh;
  text-align: center;
  width: 100%;
  margin: 0 !important;
  color: white;
}

.home-banner {
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-align: center;
  padding-bottom: 85px;
}
