.button {
  border-radius: 5px;
  //border-style: none;
  text-align: center;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
}

.button-green {
  color: white;
  background-color: #0a8f63;
  border: 1px solid #0a8f63;
  &:hover {
    background-color: #197163;
  }
}

.button-ghost {
  color: #0a8f63;
  border: 1px solid #0a8f63;
  background-color: white;
  &:hover {
    background-color: white;
    color: black;
  }
}
