.plant-card-image {
  height: 250px;
  background-position: center;
  background-size: cover;
}

.card {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;

}

.card-border {
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px;
}

.plant-card-image-show {
  height: 350px;
  background-position: center;
  background-size: cover;

}

.plant-card-image-show-main {
  margin-top: 6rem;
}

.booking-card {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
