.plant-card-image {
  height: 250px;
  background-position: center;
  background-size: cover;
}

.card {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.card-border {
  margin-left: -40px;
  margin-right: -40px;
  padding: 40px;
}

.plant-card-image-show {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.plant-card-image-show-main {
  margin-top: 6rem;
}

.booking-card {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.booking-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
