// Checkboxes design
.category-choices {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
}

.category-choice {
  // background: #b7b7b7;
  // padding: 8px;
  // border-radius: 5px;
  // opacity: .4;
  color: grey;
  flex: 0 0 30%;
  text-align: center;
  margin: 0px 20px;

  &:hover {
    opacity: 1;
    cursor: pointer;
    color: darkgrey;
  }

  &.selected {
    // color: white;
    // opacity: 1;
    color: #0a8f63;
    background-color: transparent;
  }
}
