.home-banner {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.title {
  text-align: center;
  padding-top: 30rem;
}

.row-splash {
  display: flex;
  h4 {
    color: red;
  }
}

.txt-container-description {
  text-align: center;
  margin-bottom: 3rem;
}
