.home-banner {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.title {
  text-align: center;
  padding-top: 30rem;
}

.txt-container-description {
  text-align: center;
  margin-bottom: 3rem;
}

.subtitle {
  display: flex;
  justify-content: center;
}
