.container-txt {
  margin: 3rem 0rem 3rem 0rem;
}
.searchbar {
  display: flex;
  justify-content: center;

}
// .table-container {
// }

.container-slogan {
  margin: 3rem;
}

.container-description {
  margin-top: 120px;
}

.description {
  margin-bottom: 3rem;
}

.description h3 {
  opacity: 0.8;
}

.container-master {
  padding: 0 4rem 0 4rem;
}

.explore {
  margin-right: 3rem;
}
