.home-banner {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.title {
  text-align: center;
  padding-top: 30rem;
}

.container-txt {
  margin: 3rem 0rem 3rem 0rem;
  color: red;
}

// .table-container {
// }

.container-slogan {
  color: blue;
  margin: 3rem;
}

.description {
  margin-bottom: 3rem;
}

.container-master {
  padding: 0 4rem 0 4rem;
}
